@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('/fonts/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'JetBrainsMono', sans-serif;
}

body {
  margin: 0;
}

.logo {
  width: 32px;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #646464;
  font-size: 0.8rem;
}

.footer a {
  color: #6b84cc;
  text-decoration: none;
  margin: 0 0.25rem;
}
